/*Base*/
body{
    background: #35f;
    font: normal 15pt Arial;
}

header{
    color:white;
    text-align: center;
}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 3px 3px #000;
}

footer{
    color:white;
    text-align: center;
    font-style: italic;
}
/*Model*/
p{
    display: inline-block;
    
}
.btn{
    margin-right: 5em;
}